{% extends 'base.html' %}
{% block content %}
  <h1>Sign Up</h1>

    {% if error %}
    <p class="red-text">{{ error}}</p>
  {% endif%}
  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}  
    <div class="form-group">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" placeholder="First Name">
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
        </div>  
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username"  placeholder="Username">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
        </div>
        <input type="hidden" role="uploadcare-uploader"/>
        <button type="submit" class="btn btn-primary" value="signup">Sign Up!</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <script>
        (function(src, cb) {
         const s = document.createElement('script'); s.setAttribute('src', src);
         s.onload = cb; (document.head || document.body).appendChild(s);
       })('https://ucarecdn.com/libs/blinkloader/3.x/blinkloader.min.js', function() {
         window.Blinkloader.optimize({
           pubkey:'2b99c12cdd0c28431a29',
           fadeIn:true
         });
       })
     </script>
{% endblock %}