{% extends 'base.html' %}
{% block content %}
  <h1>Sign Up</h1>

    {% if error %}
    <p class="red-text">{{ error}}</p>
  {% endif%}
  <form action="{% url 'signup' %}" method="POST">
    
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control"  placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm Password">
      </div>

      <button type="submit" class="btn btn-primary">Sign Up!</button>
    
  </form>
{% endblock %}