{% extends 'base.html' %}
{% block content %}

<section>
  <div class="container col-md-offset-3 col-md-6">
    <h1 class="text-center">Sign Up</h1>

      {% if error %}
      <p class="red-text">{{ error}}</p>
    {% endif%}
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" value="signup">Sign Up!</button>
        </div>
    </form>
  </div>
</section>
{% endblock %}