{% extends 'base.html' %}
{% block content %}

  <section class="my-4">
    <div class="container col-md-offset-3 col-md-6">
      <h1 class="text-center">This is your profile</h1>
      <h2 class="text-center">{{ user.username }}</h2>
      <h3 class="text-center">{{ user.first_name }}</h3>
      <button>Update</button>

      <div class="row">
        <h3>Posts</h3>
      </div>

      <div class="box row p-1 m-3">
        <a href="#">
          <img  class="m-3" src="https://picsum.photos/80">
          <div class="col">
            <h5 class="cityName m-3">Title</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, neque    officiis accusamus optio placeat tenetur architecto debitis inventore  ratione deleniti.</p>
          </div>
        </a>
      </div>
    </div>
  </section>

{% endblock %}