{% extends 'base.html' %}
{% block content %}

  <section class="my-4">
    <div class="container col-md-offset-4 col-md-4">

      <div class="box">
        <h2 class="text-center pt-2">{{ profile.name }}</h2>
        <h4 class="text-center">{{ profile.city }}</h4>
        <div class="crop mx-auto">
          <img src="{{ profile.image }}" width="200">
        </div>
        <p class="text-center"><small>Member since: {{ user.date_joined }}</small></p>
        <div class="text-center">
          <a  href="{% url 'update_profile' profile.user_id %}">
            <button class="btn btn-primary mb-3">Update</button>
          </a>
        </div>
      </div>
    </div>

      

{% endblock %}