* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main {
    min-height: 90vh;
}

.box {
    background-color: rgba(46,139,87,0.2);
    border-radius: 10px;
}
/*------- Buttons -----------*/
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.2);
}

#addCityBtn {
    border-radius: 50%;
    background-color: seagreen;
    color: white;
    width: 50px;
    height: 50px;
}
/*-------- Fonts ------------*/
h1 {
    font-family: PT Sans;
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: seagreen;
    font-weight: 700;
}
h3, h4, h5 {
    font-family: 'PT Sans', serif;
}
.cityName {
    font-weight: 700;
}
label {
    font-weight: 700;
}
a {
    color: black;
}
/* ---------Nav Bar---------- */
header {
    background-color: white;
    border-bottom: 1px solid #F0F0F0;
}

#project-logo {
    font-family: PT Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    color: seagreen;
}

/*--------- Image Sizes --------*/

.crop {
    border: 6px solid seagreen;
    border-radius: 50%;
    background-size: cover;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.small-crop {
    background-size: cover;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.large-crop {
    background-position: center;
    border: 6px solid seagreen;
    background-size: cover;
    width: 600px;
    height: 200px;
    overflow: hidden;
}
