* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main {
    min-height: 90vh;
}

.box {
    border-radius: 10px;
}

#addCityBtn {
    border-radius: 50%;
    background-color: rebeccapurple;
    color: white;
    width: 50px;
    height: 50px;
}

h3, h4, h5 {
    font-family: ‘PT Serif’, serif;
}

/* ---------Nav Bar---------- */
header {
    background-color: white;
    border-bottom: 1px solid #F0F0F0;
}

#project-logo, .text-center {
    font-family: PT Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}

