{% extends 'base.html' %}
{% block content %}

<section class="my-4">
    <div class="row">
      <div class="col-4">
        <h3>Cities</h3>
        {% for city in cities %}
        <div class="box row p-1 m-3">
          <img class="m-3" src="{{ city.image }}" width="50" height="50">
          <a href="/city/{{city.id}}">
            <h4 class="cityName m-3">{{city.name}}</h4>
          </a>
        </div>
       {% endfor %} 
        
        
        
        
        
        
        
        {% block posts %}
        {% endblock %}
        </div>
        </div>
  

      </div>
    </div>
  </section>
  {% endblock %}