{% extends 'city/city_base.html' %}
{% block posts %}

        <div class="box row p-1 m-3">
          <img  class="m-3" src="https://picsum.photos/80">
          <div class="col">
            <h5 class="cityName m-3">London Calling</h5>
            <p>Author</p>
            <p>If you visit London you have to go to Cafe London. Like, it's amazing. I love the people working as you sip their handcrafted drinks.  I ate breakfest there and felt like a true London local.</p>
          </div>
        </div>
        </div>

        <div class="deleteContainer {{ hidden }}">
          <div class="deleteBox">
              <!-- this is where we'll put the login/signup forms -->
            <span class="close-box"><i class="far fa-times-circle fa-2x"></i></span>
            <div class="form-content">
              {% if form %}
                {% if formType == 'delete' %}
                  <form action="{% url 'delete' %}" method="DELETE">
                {% endif %}
                  {% csrf_token %}
                  {{ form.as_p}}
                  <button type="submit">Submit</button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
   
{% endblock %}