{% extends 'city/city_base.html' %}
{% extends 'city/detail.html' %}
{% block posts %}
<div id="popup-1">
	<div class="popup-content">
		<h1>Popup Title</h1>
		<p>Are you sure you want to delete this post?</p>
    <button href="{% url 'post_delete' %}" id="close-popup-1">Close</button>
	</div>
</div>

<section class="content container">
  <div class="heroText my-4">
    <h1 class="text-center">London</h1>
    <h5 class="text-center">United Kingdom</h5>

    <div class="box row p-1 m-3">
      <a href="/city/post">
        <img  class="grow m-3" src="https://picsum.photos/80">
        <div class="col">
          <h4 class="cityName">London Calling</h4>
          <p>If you visit London you have to go to Cafe London. Like, it's amazing. I love the people working as you sip their handcrafted drinks.  I ate breakfest there and felt like a true London local.</p>
        </a>
      </div>
    </div>
    <div class="box row p-1 m-3">
        <a href="/city/post">
          <img  class="grow m-3" src="https://picsum.photos/80">
          <div class="col">
            <h4 class="cityName">Title</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, neque    officiis accusamus optio placeat tenetur architecto debitis inventore  ratione deleniti.</p>
          </a>
        </div>
      </div>

</section>
   
{% endblock %}